<p style="color: green"><%= notice %></p>

<h1>Recipis</h1>

<div id="recipis">
  <% @recipis.each do |recipi| %>
    <p>
      <%= link_to recipi.title, recipi %>
    </p>
  <% end %>
</div>

<%= link_to "New recipi", new_recipi_path %>
